$purple: (
  primary: (
    50 : #eae3ea,
    100 : #cabaca,
    200 : #a68ca6,
    300 : #825e82,
    400 : #683c68,
    500 : #4d194d,
    600 : #461646,
    700 : #3d123d,
    800 : #340e34,
    900 : #250825,
    A100 : #ff62ff,
    A200 : #ff2fff,
    A400 : #fb00fb,
    A700 : #e100e1,
    contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #ffffff,
      A700 : #ffffff,
    )
  ), accent: (
    50 : #e0eced,
    100 : #b3d1d1,
    200 : #80b2b3,
    300 : #4d9394,
    400 : #267b7d,
    500 : #006466,
    600 : #005c5e,
    700 : #005253,
    800 : #004849,
    900 : #003638,
    A100 : #6efbff,
    A200 : #3bfaff,
    A400 : #08f9ff,
    A700 : #00e8ee,
    contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
    )
  ), warn: (
    50 : #f8e3ee,
    100 : #eeb9d4,
    200 : #e38bb7,
    300 : #d85c9a,
    400 : #cf3985,
    500 : #c7166f,
    600 : #c11367,
    700 : #ba105c,
    800 : #b30c52,
    900 : #a60640,
    A100 : #ffd1df,
    A200 : #ff9ebc,
    A400 : #ff6b98,
    A700 : #ff5286,
    contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
    )
  )
);

