@use '~@angular/material' as mat;
.mat-form-field, ::ng-deep.mat-slide-toggle-content, .mat-slide-toggle, .mat-slider-horizontal {
    width: 100% !important;
}

@mixin settings-component($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .mat-dialog-container {
    background-color: mat.get-color-from-palette($primary, 800);
    border: solid 1px rgba(255, 255, 255, 0.12);
    color: mat.get-color-from-palette($primary, 50);
  }

  .mat-form-field-label {
    color: mat.get-color-from-palette($primary, 50) !important;
  }

  .mat-button-toggle-checked {
    background-color: mat.get-color-from-palette($accent);
    color: mat.get-color-from-palette($accent, default-contrast);
  }
}
