@use '~@angular/material' as mat;

@mixin dashboard-component($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  :root {
    --preferred-card-width: 425px;
    --spacing-static: 2em;
    --spacing-dynamic: clamp(0px, calc(100vw - var(--preferred-card-width)), 2em);
  }

  section {
    width: 100%;
    min-height: 100vh;
    background-color: mat.get-color-from-palette($primary, 700);

    mat-toolbar-row {
      justify-content: space-between;
    }

    main {
      min-height: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: var(--spacing-static);
      padding: var(--spacing-static) var(--spacing-dynamic);

      mat-card {
        max-width: min(calc(100% - 32px), var(--preferred-card-width));
        background-color: mat.get-color-from-palette($accent, 600);
        color: mat.get-color-from-palette($accent, 50);

        mat-card-header {
          .mat-card-header-text {
            width: 100%;
            margin: 0;

            mat-card-title {
              display: flex;
              gap: calc(var(--spacing-static) / 2);
              justify-content: space-between;
              align-items: center;

              .mat-mini-fab {
                background-color: mat.get-color-from-palette($primary, 900);
              }

              p {
                margin: 0;
                display: inline-block;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                flex-grow: 1;

                @media (hover: none) {
                  overflow: scroll;
                  text-overflow: unset;
                  position: relative;
                }
              }
            }
          }
        }

        .mat-card-image {
          margin-bottom: 0;
        }

        .mat-card-actions {
          display: flex;
          flex-wrap: wrap;
          margin-top: -4px;
          gap: 8px;

          .mat-raised-button {
            margin: 0;
            background-color: mat.get-color-from-palette($accent, 800);
          }
        }
      }
    }
  }
}
