<section>

  <mat-toolbar color="accent">
    <mat-toolbar-row>
      <span>Dashboard</span>

      <button color="primary" mat-raised-button>Add</button>
    </mat-toolbar-row>
  </mat-toolbar>

  <main>

    <mat-card *ngFor="let board of boards">
      <mat-card-header>
        <mat-card-title>{{board.title}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="board.src"/>
      <mat-card-actions>
        <button color="primary" mat-raised-button>Settings</button>
        <button color="primary" mat-raised-button>Go</button>
      </mat-card-actions>
    </mat-card>

  </main>
</section>
