.canva-toolbar {
  display: contents;

  form {
    display: flex;
    align-items: center;

    // @formatter:off
    @container toolbar-container (max-width: 2.5em) {
      flex-direction: column;
    }
    // @formatter:on

    &.radio-switcher {
      @import 'radio-switcher/radio-switcher';
    }
  }
}
