.canva-toolbar {
  display: contents;

  form {
    display: flex;
    align-items: center;

    // @formatter:off
    @container toolbar-container (max-width: 2.5em) {
      flex-direction: column;
    }
    // @formatter:on

    &.content-switcher {
      @import 'content-switcher.scss';
    }
  }

  //display: grid;
  //place-items: center;
  //
  //cursor: move;
  //
  //ul {
  //  display: flex;
  //  gap: 0.5em;
  //  list-style-type: none;
  //  padding: 0;
  //  margin: 0;
  //
  //  li {
  //    display: grid;
  //    place-items: center;
  //    background-color: var(--secondary);
  //
  //    a {
  //      display: flex;
  //      color: var(--primary-90)
  //    }
  //  }
  //}
}
