& {
  height: 2rem;
  border-radius: 0.25rem;
  border: 0.0625rem solid var(--secondary);

  label {
    user-select: none;
    cursor: pointer;
    width: 2rem;
    height: 100%;
    display: grid;
    place-items: center;

    &:not(:last-of-type) {
      border-right: 0.0625rem solid var(--secondary);
    }

    &:has(input:checked) {
      background-color: var(--secondary);

      span {
        color: var(--primary);
      }
    }

    span {
      color: var(--secondary-90)
    }

    input {
      display: none;
    }
  }
}
