& {
  height: 2rem;
  width: min-content;
  border-radius: 0.25rem;
  border: 0.0625rem solid var(--secondary);

  --icon-color: var(--secondary);
  --icon-selected-color: var(--primary);

  --background-color: transparent;
  --background-selected-color: var(--secondary);

  // @formatter:off
  @container toolbar-container (max-width: 2.5em) {
    height: min-content;
    width: 2rem;

    label {
      &:not(:last-of-type) {
        border-bottom-width: 0.0625rem;
      }
    }
  }
  // @formatter:on

  label {
    user-select: none;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    display: grid;
    place-items: center;
    background-color: var(--background-color);
    border-color: var(--secondary);
    border-style: solid;
    border-width: 0;

    &:not(:last-of-type) {
      border-right-width: 0.0625rem;
    }

    &:has(input:checked) {
      background-color: var(--background-selected-color);

      span {
        color: var(--icon-selected-color);
      }
    }

    span {
      color: var(--icon-color);
      grid-area: 1 / 1;
    }

    input {
      all: unset;
      grid-area: 1 / 1;
      width: 100%;
      height: 100%;

      &:focus {
        outline: 3px solid var(--contrast);
        border-radius: 5px;
      }
    }
  }
}
