.icon {
    padding: 0 14px;
}
  
.spacer {
    flex: 1 1 auto;
}

.roundBtn {
    height: 47px;
    width: 47px;
    margin-right: 1em;

    &:nth-of-type(3) {
        margin-right: 0.5em;
    }
}

.copy {
    margin-right: 0.5em;
}

@media (max-width: 995px) {
    .copy {
        display: none;
    }
}

.colors {
    margin-right: 1em;
}

@media (max-width: 680px) {
    .colors {
        width: 48px;
        overflow-x: scroll;
        margin-right: calc(0.5em - 1px);
    }   
}


@media (max-width: 680px) {
    .tools {
        width: 48px;
        overflow-x: scroll;
    }
}
