<mat-toolbar color="primary">

    <mat-toolbar-row>
        <span class="copy">&copy; Mateusz Budzisz - kropoki i kreski</span>

        <button mat-mini-fab class="roundBtn darkBtn" (click)="emitIconClick()">
            <mat-icon [ngClass]="iconColor">gesture</mat-icon>
        </button>

        <span class="spacer"></span>

        <button mat-mini-fab class="roundBtn" color="warn" (click)="emitClear()">
            <mat-icon>clear</mat-icon>
        </button>

        <button mat-mini-fab class="roundBtn" color="accent" (click)="emitUndo()">
            <mat-icon>undo</mat-icon>
        </button>

        <button mat-mini-fab class="roundBtn" color="accent" (click)="emitRedo()">
            <mat-icon>redo</mat-icon>
        </button>

        <mat-button-toggle-group class="colors" value="black" (change)="colorChange($event)">

            <mat-button-toggle value="red" class="red">
                <mat-icon>palette</mat-icon>
            </mat-button-toggle>

            <mat-button-toggle value="blue" class="blue">
                <mat-icon>palette</mat-icon>
            </mat-button-toggle>

            <mat-button-toggle value="green" class="green">
                <mat-icon>palette</mat-icon>
            </mat-button-toggle>

            <mat-button-toggle value="yellow" class="yellow">
                <mat-icon>palette</mat-icon>
            </mat-button-toggle>

            <mat-button-toggle value="black" class="black">
                <mat-icon>palette</mat-icon>
            </mat-button-toggle>

        </mat-button-toggle-group>

        <mat-button-toggle-group class="tools" value="free" (change)="emitModeChange($event)">

            <mat-button-toggle value="free-line">
                <mat-icon>gesture</mat-icon>
            </mat-button-toggle>

            <mat-button-toggle value="point">
                <mat-icon>timeline</mat-icon>
            </mat-button-toggle>

            <mat-button-toggle value="straight">
                <mat-icon>remove</mat-icon>
            </mat-button-toggle>

            <!--<mat-button-toggle value="square">
                <mat-icon>crop_square</mat-icon>
            </mat-button-toggle>-->

        </mat-button-toggle-group>

    </mat-toolbar-row>

</mat-toolbar>
