<mat-toolbar color="primary">

    <mat-toolbar-row>
        <span class="copy">&copy; Mateusz Budzisz - kropoki i kreski</span>
        <mat-icon class="icon" (click)="iconClick()" [ngClass]="iconColor">gesture</mat-icon>
        <span class="spacer"></span>

        <button mat-mini-fab class="roundBtn" color="warn" (click)="clear()">
            <mat-icon>clear</mat-icon>
        </button>

        <button mat-mini-fab class="roundBtn" color="accent" (click)="undo()">
            <mat-icon>undo</mat-icon>
        </button>

        <button mat-mini-fab class="roundBtn" color="accent" (click)="redo()">
            <mat-icon>redo</mat-icon>
        </button>

        <mat-button-toggle-group style="margin-right: 1em;" value="black" (change)="changeColor($event)">

            <mat-button-toggle value="red" class="red">
                <mat-icon>palette</mat-icon>
            </mat-button-toggle>

            <mat-button-toggle value="blue" class="blue">
                <mat-icon>palette</mat-icon>
            </mat-button-toggle>

            <mat-button-toggle value="green" class="green">
                <mat-icon>palette</mat-icon>
            </mat-button-toggle>

            <mat-button-toggle value="yellow" class="yellow">
                <mat-icon>palette</mat-icon>
            </mat-button-toggle>

            <mat-button-toggle value="black" class="black">
                <mat-icon>palette</mat-icon>
            </mat-button-toggle>

        </mat-button-toggle-group>

        <mat-button-toggle-group value="free" (change)="changeMode($event)">

            <mat-button-toggle value="free">
                <mat-icon>gesture</mat-icon>
            </mat-button-toggle>

            <mat-button-toggle value="point">
                <mat-icon>timeline</mat-icon>
            </mat-button-toggle>

            <mat-button-toggle value="straight">
                <mat-icon>remove</mat-icon>
            </mat-button-toggle>

            <!--<mat-button-toggle value="square">
                <mat-icon>crop_square</mat-icon>
            </mat-button-toggle>-->

        </mat-button-toggle-group>

    </mat-toolbar-row>

</mat-toolbar>
