body {
  padding: 0;
  display: grid;
  grid-template: 2em auto 2em / 2em auto 2em;

  .toolbar-container {
    display: flex;

    &.left {
      grid-area: 2 / 1;
    }

    &.top {
      grid-area: 1 / 2;
    }

    &.right {
      grid-area: 2 / 3;
    }

    &.bottom {
      grid-area: 3 / 2;
    }
  }

  canva-canvas {
    grid-area: 2 / 2;
  }
}
