body {
  padding: 0;
  display: grid;
  grid-template: 2.5em auto 2.5em / 2.5em auto 2.5em;

  .toolbar-container {
    container: toolbar-container / inline-size;
    display: flex;
    align-items: center;

    &.left, &.right {
      align-items: normal;
      justify-content: center;
    }

    &.left {
      grid-area: 2 / 1;
    }

    &.top {
      grid-area: 1 / 2;
    }

    &.right {
      grid-area: 2 / 3;
    }

    &.bottom {
      grid-area: 3 / 2;
    }
  }

  canva-canvas {
    grid-area: 2 / 2;
  }
}
