.icon {
    padding: 0 14px;
}

.spacer {
    flex: 1 1 auto;
}

.roundBtn {
    height: 47px;
    width: 47px;
    margin-right: 1em;

    &:nth-of-type(3) {
        margin-right: 0.5em;
    }
}

.copy {
    margin-right: 0.5em;
}

@media (max-width: 995px) {
    .copy {
        display: none;
    }
}

.colors {
    margin-right: 1em;
}

@media (max-width: 680px) {
    .colors {
        width: 48px;
        overflow-x: scroll;
        margin-right: calc(0.5em - 1px);
    }
}


@media (max-width: 680px) {
    .tools {
        width: 48px;
        overflow-x: scroll;
    }
}


@mixin bar-component($theme, $app-colors) {
  $accent: map-get($theme, accent);
  $primary: map-get($theme, primary);
  $normal: map-get($app-colors, normal);
  $dark: map-get($app-colors, dark);

  .mat-button-toggle {
    background-color: mat-color($primary, 700);
    color: mat-color($primary, default-contrast);

    &.red {
      color: map-get($normal, red);
    }

    &.green {
      color: map-get($normal, green);
    }

    &.blue {
      color: map-get($normal, blue);
    }

    &.yellow {
      color: map-get($normal, yellow);
    }

    &.black {
      color: map-get($normal, black);
    }

    @media (prefers-color-scheme: dark) {
      &.black {
        color: map-get($dark, black);
      }
    }
  }

  .mat-button-toggle-checked {
    background-color: mat-color($accent);
    color: mat-color($accent, default-contrast);

    &.red {
      background-color: rgba(map-get($normal, red), .4);
      //color: mat-color($mat-red, 100);
    }

    &.green {
      background-color: rgba(map-get($normal, green), .4);
      //color: mat-color($mat-green, 100);
    }

    &.blue {
      background-color: rgba(map-get($normal, blue), .4);
      //color: mat-color($mat-blue, 100);
    }

    &.yellow {
      background-color: rgba(map-get($normal, yellow), .4);
      //color: mat-color($mat-yellow, 50);
    }

    &.black {
      background-color: rgba(map-get($normal, black), .4);
      //color: mat-color($mat-grey, 500);
    }

    @media (prefers-color-scheme: dark) {
      &.black {
        background-color: rgba(map-get($dark, black), .4);
      }
    }
  }
}
