<h1>Ustawienia</h1>

<mat-label>Tolerancja błędu</mat-label>
<mat-slider step="1" min="1" max="20" tickInterval="auto" thumbLabel [(ngModel)]="settings.tolerance"></mat-slider>

<mat-slide-toggle labelPosition="before" [checked]="settings.lazyEnabled" (change)="settings.lazyEnabled = !settings.lazyEnabled">Wygładzanie myszy</mat-slide-toggle>

<mat-label>Szybkość wygładzania</mat-label>
<mat-slider [disabled]="!settings.lazyEnabled" thumbLabel tickInterval="auto" step="0.01" min="0.01" max="2" [(ngModel)]="settings.lazyMultiplier"></mat-slider>

<div mat-dialog-actions [align]="'end'">
  <button (click)="Save()" mat-button color="accent" mat-dialog-close>Zapisz</button>
</div>

